* {
  cursor: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  }

body {
	margin: 0;
  overflow: hidden;
}

header{
  background-color:black;
  color:white;
  text-align:center;
  height: 100px;
}

footer{
  background-color:black;
  color:white;
  clear:both;
  text-align:center;
  height: 100px;
}

p, span, table{
  font-family: "sans-serif";
  font-weight: bold;
}

img{
  user-drag: none; -moz-user-select: none; -webkit-user-drag: none;
}

.main {
  top: 100px; /* Header Height */
  bottom: 100px; /* Footer Height */
  height: calc(100% - 200px);
  background-color: #000;
}

.buttons{
  text-align:center;
  padding-Top: 50px;
  padding-Bottom: 50px;
  height: 100%;
  width: 100%;
}

.button {
  height: calc((100vh - 300px) / 2 - 50px);
}

.ct-series-a{
  stroke: #bbf;
  fill: "none";
  stroke-width: 10px;
}

.ct-series-b{
  stroke: #6f6;
  fill: "none";
  stroke-width: 2px;
}

.ct-series-c{
  stroke: #6ff;
  fill: "none";
  stroke-width: 2px;
}

.ct-series-d{
  stroke: #f66;
  fill: "none";
  stroke-width: 2px;
}

.ct-labels{
  color: #bbf;
  font-size: 25px;
}
